<?xml version="1.0"?>
<config>
    <modules>
        <Timvroom_Custompdf>
            <version>1.0.0</version>
        </Timvroom_Custompdf>
    </modules>
    <global>
        <blocks>
            <custompdf>
                <class>Timvroom_Custompdf_Block</class>
            </custompdf>
        </blocks>
        <helpers>
            <custompdf>
                <class>Timvroom_Custompdf_Helper</class>
            </custompdf>
        </helpers>
        <models>
            <custompdf>
                <class>Timvroom_Custompdf_Model</class>
            </custompdf>
            <sales>
                <rewrite>
                    <order_pdf_shipment>Timvroom_Custompdf_Model_Sales_Order_Pdf_Shipment</order_pdf_shipment>
                </rewrite>
            </sales>
        </models>
    </global>
    <default>
        <custompdf>
            <general>
                <paper_size>a4</paper_size>
                <font>serif</font>
                <enable_html5>1</enable_html5>
            </general>
            <development>

            </development>
        </custompdf>
    </default>
</config>