<?xml version="1.0"?>
<config>
    <modules>
        <Timvroom_Custompdf>
            <version>1.0.0</version>
        </Timvroom_Custompdf>
    </modules>
    <global>
        <blocks>
            <custompdf>
                <class>Timvroom_Custompdf_Block</class>
            </custompdf>
        </blocks>
        <helpers>
            <custompdf>
                <class>Timvroom_Custompdf_Helper</class>
            </custompdf>
        </helpers>
        <models>
            <custompdf>
                <class>Timvroom_Custompdf_Model</class>
            </custompdf>
            <sales>
                <rewrite>
                    <order_pdf_shipment>Timvroom_Custompdf_Model_Sales_Order_Pdf_Shipment</order_pdf_shipment>
                </rewrite>
            </sales>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <timvroom_custompdf>
                    <file>timvroom/custompdf.xml</file>
                </timvroom_custompdf>
            </updates>
        </layout>
        <translate>
            <modules>
                <timvroom_custompdf>
                    <files>
                        <default>Timvroom_Custompdf.csv</default>
                    </files>
                </timvroom_custompdf>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <custompdf>
            <general>
                <paper_size>a4</paper_size>
                <font>serif</font>
                <enable_html5>1</enable_html5>
            </general>
            <pdf>
                <title>Afleverbon</title>
                <disclaimer><![CDATA[U bent als afnemer verplicht de geleverde artikelen direct bij ontvangst te onderzoeken.
                Hierbij behoort u te onderzoeken of kwaliteit en kwantiteit van het geleverde overeenstemmen met hetgeen overeengekomen is.
                Eventuele manco's dienen binnen 24 uur na ontvangst schriftelijk of per e-mail aan ons gemeld te worden.]]></disclaimer>
            </pdf>
            <development>
                <log_file_name>pdf.log</log_file_name>
                <show_warnings>0</show_warnings>
                <debug>0</debug>
                <debug_css>0</debug_css>
                <debug_keep_temp>0</debug_keep_temp>
                <debug_layout>0</debug_layout>
            </development>
        </custompdf>
    </default>
</config>