$spacing: 20px;
$border-color: #ccc;

$f-xl: 18px;
$f-l: 16px;
$f: 12px;
$f-s: 10px;

body {
    font-size: $f;
    font-family: "Lucida Grande", sans-serif;
    line-height: 1.4;
}

h1 {
    font-size: $f-xl;
}
h2 {
    font-size: $f-l;
}

.pagebreak {
    page-break-after: always;
}

.clearfix {
    *zoom: 1;
    &:before, &:after {
        display:     table;
        line-height: 0;
        content:     ""
    }
    &:after {
        clear: both;
    }
}

.a-right {
    text-align: right !important;
}

.logo {
    float: right;
}

.small {
    font-size: $f-s;
}

address {
    font-style: normal;
    margin-bottom: $spacing;
    .label {
        font-weight: bold;
    }
}

.data-table {
    width:           100%;
    border-collapse: collapse;
    th {
        text-align: left;
    }
}

.info-table {
    .col-1 {
        width: 10%;
    }
    .col-2 {
        width: 30%;
    }
    .col-3 {
        width: 10%;
    }
    .col-4 {
        width: 50%;
    }

    th {
        white-space: nowrap;
    }
}

.content-block {
    padding: 0 $spacing $spacing;
}

.products-table {
    .col-1 {
        width: 70%;
    }
    .col-2, .col-3, .col-4 {
        width: 10%;
        text-align: center;
    }

    thead {
        tr {
            background: #cccccc;
            border-top: 0;
        }
        th {
            padding-left: 4px;
            padding-right: 4px;
        }
    }

    tbody{
        tr {
            td {
                border-top: 1px solid $border-color;
            }
        }
    }

    .item-options {
        font-size: $f-s;
        dt {
            font-weight: bold;
        }
    }
}

.totals {
    text-align: right;
    margin-top: $spacing;
    &:after {
        content: " ";
        display: table;
        clear:   both;
    }
    .totals-table {
        text-align: right;
        width:      100%;
        line-height: 1.2em;
        border-top: 1px solid $border-color;

        th {
            text-align: right;
            width:      100%;
        }
        td {
            text-align:   left;
            padding-left: $spacing;
            white-space: nowrap;
        }
    }
}

.notice {
    min-height: 80px;
    h2 {

        margin-top: 0;
    }

    .block {
        width: 90%;
        margin-left: 5%;
        height: 70px;
        background : #eeeeee;
        margin-bottom: $spacing;
    }
}

.confirmation {
    .fieldset {
        margin: 0 10%;
        .field {
            position:       relative;
            padding-bottom: 4px;
            .dotted-line {
                display:     block;
                border-top:  1px dotted #000;
                width:       70%;
                margin-left: 10%;
                bottom:      0;
                height:      0;
                margin-top:  14px;
            }
            &.field-signature {
                margin-top: $spacing;
            }
        }
    }
}

.disclaimer {
    font-size: $f-s;
}